.odd{
    background-color: pink;
    font-family: 'Verdana',sans-serif;
}

#number2{
    color: #0000ff;
    font-size: 36px;
}

.number3{
    font-size: 24px;
}

#number4{
    background-color: rgb(150,255,150);
    font-size: 24px;
    font-weight: bold;
}