body{
    font-family: Arial, Helvetica, sans-serif;
}

.p,
.small{
    font-size: 22px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.small{
    font-size: 12px;
}

.button{
    font-weight: bold;
    color: black;
    border: 2.5px solid black;
}

#confirm{
    background-color: rgb(0, 100, 30);
    color: #FFFFFF;
}

div.div{
    font-size: 22px;
}

div .child{
    font-size: 12px;
    font-weight: 1000;
}